<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<style>
		body{
			margin-left: 50px;
		}
		section{
			margin-bottom: 10px;
		}
		.bugname, .stats{
			font-size: 18pt;
		}
		.bugname{
			cursor: pointer;
		}
		ol{
			list-style: none;
			width: 500px;
			-webkit-padding-start : 0px;
		}
		.closed{
			color : red;
			text-decoration: line-through;
			font-style: italic;
			font-weight: bold;
		}
		li{
			border : 1px solid gray;
			background-color: #e7e7e7;
			padding: 10px;
			border-radius: 5px;
			margin-bottom: 10px;
		}
	</style>
	<script type="text/x-usecases">
		(done) 1. Add new bugs
		2. List the bugs
		3. Toggle the 'closed' status of any bug
		4. Remove closed bugs
		5. Display statistics ( # of closed bugs / total # of bugs )
		6. Search for the bugs
		7. Sort the bugs
		8. Improve the bug display
		9. Persist the bugs in the localStorage
		10. Display 'created At' for each bug
		11. Persist the bugs in the server
		12. Make the bugs accessible using unique urls (routing)
	</script>
	<script src="angular.js"></script>
	<script>
		var myApp = angular.module('myApp', []);
		myApp.controller('bugsController', function($scope){
			$scope.bugs = [];

			$scope.newBugName = '';

			$scope.onCreateNewClick = function(){
				$scope.bugs.push($scope.newBugName);
			};

		});
	</script>
</head>
<body ng-app="myApp">
	<h1>Bug Tracker</h1>
	<hr>
	<div ng-controller="bugsController">
		<section class="stats">
			<span class="closed">1</span>
			<span> / </span>
			<span>{{bugs.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text" name="" id="">
			<label for="">Closed ? :</label>
			<input type="checkbox" name="" id="">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<select name="" id="">
				<option value=""></option>
				<option value=""></option>
			</select>
			<span>Descending ? :</span>
			<input type="checkbox" name="" id="">
		</section>
		<section class="edit">
			<label for="">Bug Name : </label>
			<input type="text" ng-model="newBugName">
			<input type="button" value="Create New" ng-click="onCreateNewClick()">
		</section>
		<section class="list">
			<ol>
				<li>
					<span class="bugname">[This is bug - 1]</span>
					<div class="datetime">[Created At]</div>
				</li>
				<li>
					<span class="bugname closed">[This is bug - 2]</span>
					<div class="datetime">[Created At]</div>
				</li>
			</ol>
			<input type="button" value="Remove Closed">
		</section>
	</div>
</body>
</html>