<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<style>
		body{
			margin-left: 50px;
		}
		section{
			margin-bottom: 10px;
		}
		.bugname, .stats{
			font-size: 18pt;
		}
		.bugname{
			cursor: pointer;
		}
		ol{
			list-style: none;
			width: 500px;
			-webkit-padding-start : 0px;
		}
		.closed{
			color : red;
			text-decoration: line-through;
			font-style: italic;
			font-weight: bold;
		}
		li{
			border : 1px solid gray;
			background-color: #e7e7e7;
			padding: 10px;
			border-radius: 5px;
			margin-bottom: 10px;
		}

		
	</style>
	<script type="text/x-usecases">
		(done) 1. Add new bugs
		(done) 2. List the bugs
		(done) 3. Toggle the 'closed' status of any bug
		(done) 4. Remove closed bugs
		(done) 5. Display statistics ( # of closed bugs / total # of bugs )
		(done) 6. Search for the bugs
		(done) 7. Sort the bugs
		(done) 8. Improve the bug display
		(done) 9. Persist the bugs in the localStorage
			window.localStorage
			====================
			- key/value store
			- key has to be unique
				(hint : use a unique id for each bug)
			- both key and value must be strings
				(hint : use angular.toJSON() and angular.fromJSON() for serialization and deserialization respectively)
			- follows 'Same Origin Policy'
			- ~10MB storage limit
			- apis
			------
				* setItem(key, value)
				* getItem(key) => value
				* removeItem(key)
				* clear()
				* key(index) => key at index
				* length


		(done) 10. Display 'created At' for each bug
		11. Persist the bugs in the server
		12. Make the bugs accessible using unique urls (routing)
	</script>
	<script src="angular.js"></script>
	<script src="moment.js"></script>
	<script>
		var myApp = angular.module('myApp', []);

		myApp.run(function($http){
			window.$http = $http;
		});

		myApp.factory('bugOperations',  function(defaultBugName){
			return {
				createNew : function(bugName, id){
					var newBug = {
						id : id,
						name : bugName || defaultBugName,
						isClosed : false,
						createdAt : new Date()
					};
					return newBug;
				},
				toggle : function(bugToToggle){
					bugToToggle.isClosed = !bugToToggle.isClosed
				}
			};
		});

		myApp.value('defaultBugName', '[Dummy Bug]');

		myApp.factory('bugStorage', function(bugOperations, $window){

			var storage = $window.localStorage;
			var currentBugId = 0;
			function getAll(){
				var result = [];
				for(var index = 0, count = storage.length; index < count; index++){
					var key = storage.key(index),
						rawData = storage.getItem(key),
						bug = angular.fromJson(rawData);
					currentBugId = currentBugId > bug.id ? currentBugId : bug.id;
					result.push(bug); 
				}
				return result;
			}
			
			function addNew(bugName){
				var newBug = bugOperations.createNew(bugName, ++currentBugId);
				save(newBug);
				return newBug;
			}

			function save(bug){
				storage.setItem(bug.id.toString(), angular.toJson(bug));
			}
			
			function toggle(bugToToggle){
				bugOperations.toggle(bugToToggle);
				save(bugToToggle);
			}
			
			function remove(bug){
				storage.removeItem(bug.id.toString());
			}

			return {
				getAll : getAll,
				addNew : addNew,
				toggle : toggle,
				remove : remove
			}
		});

		myApp.controller('bugsController', function($scope, $http, bugOperations){
			
			$scope.bugs = [];

			var p = $http.get('http://localhost:3000/bugs')
			p.then(function(response){
				$scope.bugs = response.data;
			});

			$scope.onCreateNewClick = function(bugName){
				var newBug = bugOperations.createNew(bugName, 0);
				var p = $http.post('http://localhost:3000/bugs', newBug);
				p.then(function(response){
					var newBug = response.data;
					$scope.bugs.push(newBug);	
				})
				
			};

			$scope.onBugClick = function(bugToToggle){
				bugOperations.toggle(bugToToggle);
				$http.put('http://localhost:3000/bugs/' + bugToToggle.id, bugToToggle);
			};

			$scope.onRemoveClosedClick = function(){
				for(var index = $scope.bugs.length-1; index >= 0; index--){
					if ($scope.bugs[index].isClosed){
						$http.delete('http://localhost:3000/bugs/' + $scope.bugs[index].id);
						$scope.bugs.splice(index, 1);
					}
				}
			};



		});

		myApp.value('defaultTrimLength', 40);

		myApp.filter('trimText', function(defaultTrimLength){
			return function(data, trimLength){
				trimLength = trimLength || defaultTrimLength;
				return data.length < trimLength ? data : data.substr(0, trimLength) + '...';
			}
		});

		/*myApp.filter('closedCount', function(){
			return function(bugs){
				var result = 0;
				for(var index = 0, count = bugs.length; index < count; index++){
					if (bugs[index].isClosed)
						++result;
				}
				return result;
			}
		})*/

		/*myApp.filter('closedCount', function(){
			return function(bugs){
				return bugs.filter(function(bug){
					return bug.isClosed;
				}).length;
			}
		})*/

		/*myApp.filter('closedCount', function($filter){
			var builtInFilter = $filter('filter');
			return function(bugs){
				return builtInFilter(bugs, {isClosed : true}).length;
			};
		});*/

		/*myApp.filter('closedCount', function(){
			return function(bugs){
				return bugs.reduce(function(prevResult, bug){
					return bug.isClosed ? ++prevResult : prevResult;
				}, 0);
			};
		});*/

		myApp.filter('closedCount', () => 
			(bugs) => bugs.reduce((prevResult, bug) => bug.isClosed ? ++prevResult : prevResult, 0)
		);

		myApp.filter('elapsed', () => data => moment(data).fromNow());

	</script>
</head>
<body ng-app="myApp">
	<h1>Bug Tracker</h1>
	<hr>
	<div ng-controller="bugsController">
		<section class="stats">
			<span class="closed">{{bugs | closedCount}}</span>
			<!-- <span class="closed">{{ (bugs | filter:{isClosed : true}).length }}</span> -->
			<span> / </span>
			<span>{{bugs.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text" ng-model="searchBug.name">
			<label for="">Closed ? :</label>
			<input type="checkbox" ng-model="searchBug.isClosed">
			<input type="button" value="Show All" ng-click="searchBug.isClosed=undefined" ng-hide="searchBug.isClosed === undefined">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<select ng-model="sortBugBy" ng-init="sortBugBy='name'">
				<option value="name">Name</option>
				<option value="isClosed">Status</option>
			</select>
			<span>Descending ? :</span>
			<input type="checkbox" ng-model="sortBugDescending">
		</section>
		<section class="edit">
			<label for="">Bug Name : </label>
			<input type="text" ng-model="newBugName">
			<input type="button" value="Create New" ng-click="onCreateNewClick(newBugName)">
		</section>
		<section class="list">
			<ol>
				<li ng-repeat="bug in ( bugs | filter:searchBug | orderBy:sortBugBy:sortBugDescending)">
					<span 
						class="bugname" 
						ng-click="onBugClick(bug)"
						ng-class="{closed : bug.isClosed}"
						title = "{{bug.name}}"
					>{{bug.name | trimText:30}}</span>
					<div class="datetime">[{{bug.createdAt | elapsed}}]</div>
				</li>
			</ol>
			<input type="button" value="Remove Closed" ng-click="onRemoveClosedClick()">
		</section>
	</div>
</body>
</html>